@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Mission08_Team0210.Models.Task>
<!--Create a table with a title cell-->
<div class="container">
    <div class="row">
        <div class="col quadrant title">
            <h1>Stephen Covey's Time Management Matrix</h1>
        </div>
    </div>
    <div class="row">
        <!--Display all tasks for quadrant 1 with 3 buttons for each (complete, delete, edit), only show not completed tasks-->
        <div class="col-6 quadrant urgent-important">
            <h2>Urgent & Important</h2>
            @foreach (var x in Model.Where(x => x.Completed == false).Where(x => x.Quadrant == "Quadrant I: Important / Urgent"))
            {
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>@x.TaskName</h4>
                            <div class="btn-group">
                                <a class="btn btn-secondary" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Mark Complete</a>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--Display all tasks for quadrant 2 with 3 buttons for each (complete, delete, edit), only show not completed tasks-->
        <div class="col-6 quadrant not-urgent-important">
            <h2>Not Urgent & Important</h2>
            @foreach (var x in Model.Where(x => x.Completed == false).Where(x => x.Quadrant == "Quadrant II: Important / Not Urgent"))
            {
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>@x.TaskName</h4>
                            <div class="btn-group">
                                <a class="btn btn-secondary" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Mark as Complete</a>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--Display all tasks for quadrant 3 with 3 buttons for each (complete, delete, edit), only show not completed tasks-->
    <div class="row">
        <div class="col-6 quadrant urgent-not-important">
            <h2>Urgent & Not Important</h2>
            @foreach (var x in Model.Where(x => x.Completed == false).Where(x => x.Quadrant == "Quadrant III: Not Important / Urgent"))
            {
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>@x.TaskName</h4>
                            <div class="btn-group">
                                <a class="btn btn-secondary" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Mark as Complete</a>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--Display all tasks for quadrant 4 with 3 buttons for each (complete, delete, edit), only show not completed tasks-->
        <div class="col-6 quadrant not-urgent-not-important">
            <h2>Not Urgent & Not Important</h2>
            @foreach (var x in Model.Where(x => x.Completed == false).Where(x => x.Quadrant == "Quadrant IV: Not Important / Not Urgent"))
            {
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4>@x.TaskName</h4>
                            <div class="btn-group">
                                <a class="btn btn-secondary" asp-controller="Home" asp-action="Complete" asp-route-id="@x.TaskId">Mark as Complete</a>
                                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.TaskId">Edit</a>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.TaskId">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

